$primary:#10101a ;
//#0a192f #10101a
$secondary: #1e1e29;
$textPrimary: #d6d8d8;
$textSecondary: rgba(171, 171, 173, 0.14);

.nav_bar {
  position: fixed;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  // background: #09bdd1b7;
  color: $textPrimary;
  top: 0;
  left: 0;
  font-family: Poppins;
  z-index: 1;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 5px;

  @media (max-width: 900px) {
    grid-template-columns: repeat(2, 1fr);
    &_part_one,
    &_part_four {
      display: none;
    }
  }
  @media (max-width: 400px) {
    grid-template-columns: 6fr 5fr;
     grid-gap:0px;
    &_part_four {
      display:none !important;
      padding-bottom:3rem;
      p{
        margin-left:auto;
        margin-right:15px;
      }
    }
  }
  &_part {
    background: $primary;
  }
  &_part_two,
  &_part_four {
    padding-left: 1.5rem;
    display: grid;
    align-content: center;
    p {
      margin-top: 0;
      display: flex;
      span {
        margin-right: 0.5rem;
      }
    }
   
    // justify-content:center;
    // flex-direction: column;
  }
  &_part_four {
    @media (max-width: 900px){
      display:none;
    }
  }
  &_part_two {
    font-size: 2rem;
    line-height: 2.5rem;
    font-weight: 400;
    @media (max-width: 900px) {
      padding-left: 80px;
    }
    @media (max-width: 700px) {
      padding-left: 25px;
    }
    @media (max-width: 400px) {
      padding-left: 15px;
      font-size:2rem;
      font-weight:400;
    }
  }
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .logo {
    font-style: regular;
    font-size: 35px;
    font-family: Secular One;
    color: $textPrimary;
    @media (max-width: 700px) {
      font-size: 25px;
    }
  }

  .menu_bar {
    &_arrow {
      width: 80px;
      height: 3px;
      background: $textPrimary;
      border-radius: 10px;
      @media (max-width: 700px) {
        width: 80px;
        height: 2px;
      }
    }
    &_arrow:nth-child(2) {
      margin-top: 10px;
    }
  }
}

.nav_email{
  display:none;

  @media (max-width:900px){
    font-family: 'Inter';
    display:block;
    position:fixed !important;
    grid-columns:2/4;
    bottom:-5rem;
    color:#fff;
    opacity:.01;
    font-size:5rem ;
  }
}
